# images
**/*.png
# parameters
**/*.npy
**/*.npz

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

#pycache
**/__pycache__

# Outputs
OUTPUTS/*

# Datasets
**/*.npy
**/*.wav
**/*.h5
**/*.mp3
**/*.pt

# Others
**/.directory
